<ul class="collapsible collection-item" data-collapsible="accordion" data-instance="{{dataValues.challenge_id}}">
   <li>
      <div class="collapsible-header" style="display: block">{{dataValues.Template.dataValues.name}}
         <span class="right" style="font-size: 16px">{{dataValues.state}}</span></div>
      <div class="collapsible-body">
         <div>Challenged: {{dataValues.accepted.dataValues.name}}</div>
         <div>Rules: {{dataValues.Template.dataValues.rule}}</div>
         {{#if_eq dataValues.state "challenge-rejected"}}
         <button class="delete red btn right" data-identity="issuer_id">Delete Record</button>
         <br>
         <br> {{/if_eq}} {{#if_eq dataValues.state "proof-rejected"}}
         <button class="delete red btn right" data-identity="issuer_id">Delete Record</button>
         <br>
         <br> {{/if_eq}} {{#if_eq dataValues.state "proof-accepted"}}
         <button class="delete red btn right" data-identity="issuer_id">Delete Record</button>
         <br>
         <br> {{/if_eq}}
      </div>
   </li>
</ul>
