<body>
   <nav>
      <div class="nav-wrapper">
         <a href="/user/dashboard" class="brand-logo">Duello</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">About</a></li>
            <li><a id="logout" href="">Logout</a></li>
         </ul>
      </div>
   </nav>
   <main>
      <div>
         <h1>Rise-to-the-Challenge</h1>
         <!-- three panels -->
         <h5> Welcome, {{dataValues.name}} </h5>
      </div>
      <div class="row">
         <div class="col s6">
            <div>
               <h4>Challenges Issued</h4>
               <div>
                  <div class="collection">

                     {{#each issued}} {{#if_eq dataValues.state 'provided-proof'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{else}}
                     <ul class="collapsible collection-item" data-collapsible="accordion">
                        <li>
                           <div class="collapsible-header" style="display: block">{{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></div>
                           <div class="collapsible-body">
                              <div>Challenged: {{dataValues.accepted.dataValues.name}}</div>
                              <div>Rules: {{dataValues.Template.dataValues.rule}}</div>
                           </div>
                        </li>
                     </ul>
                     {{/if_eq}}{{/each}} {{!--{{#each issued}} {{#if_eq dataValues.state 'challenge-issued'}}--}} {{!--
                     <ul class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></ul> {{/if_eq}} {{#if_eq dataValues.state 'challenge-accepted'}}--}} {{!--
                     <ul class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></ul> {{/if_eq}} {{#if_eq dataValues.state 'challenge-rejected'}}--}} {{!--
                     <ul class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></ul> {{/if_eq}} {{#if_eq dataValues.state 'provided-proof'}}--}} {{!--
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'proof-accepted'}}--}}
                     {{!--
                     <ul class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></ul> {{/if_eq}} {{#if_eq dataValues.state 'proof-rejected'}}--}} {{!--
                     <ul class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></ul> {{/if_eq}} {{#if_eq dataValues.state 'archive-success'}}--}} {{!--
                     <ul class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></ul> {{/if_eq}} {{#if_eq dataValues.state 'archive-fail'}}--}} {{!--
                     <ul class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></ul> {{/if_eq}} {{/each}}--}}
                  </div>
                  <a href="/user/createChallenge">
                     <button class="btn waves-effect waves-light" type="submit" name="action">Create New Challenge
                     </button>
                  </a>
               </div>
            </div>
         </div>
         <div class="col s6">
            <div>
               <h4>Received Challenges</h4>
               <div class="collection">
                  {{#each accepted}} {{#if_eq dataValues.state 'challenge-issued'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-accepted'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-rejected'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'provided-proof'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'proof-accepted'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'proof-rejected'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'archive-success'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'archive-fail'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{/each}}
               </div>

            </div>
         </div>
      </div>
   </main>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script>
      $(document).ready(function() {
         $('.collapsible').collapsible();
      });
   </script>
   {{!--
   <script type="text/javascript" src="js/materialize.min.js"></script>--}}
</body>
