<body>
   <nav>
      <div class="nav-wrapper z-depth-4">
         <a href="/user/dashboard" class="brand-logo center" id="logo">Duello</a>
         <div class="nav-wrapper">
            <a href="/user/dashboard" class="brand-logo">Duello</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="/">About</a></li>
               <li><a id="logout" href="">Logout</a></li>
            </ul>
         </div>
   </nav>
   <main>
      <div>
         <h5> Welcome, {{dataValues.name}} </h5>
      </div>
      <div class="row">
         <div class="col s6">
            <div id="issuedContainer" class="cont">
               <h5>Challenges Issued</h5>
               <div>
                  <div class="collection z-depth-2 Form" id="issuedBox">
                     {{!--{{#if_eq 'Foo' 'Foo'}} true {{else}} false {{/if_eq}}--}} {{#each issued}} {{#if_eq dataValues.state 'challenge-issued'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-accepted'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-rejected'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'provided-proof'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'proof-accepted'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'proof-rejected'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'archive-success'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'archive-fail'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{/each}}

                     <div class="collection">
                        {{#each issued}} {{#if_eq dataValues.state 'provided-proof'}}
                        <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{else}} {{> issued_collapsible}} {{/if_eq}}{{/each}}

                     </div>
                     <a href="/user/createChallenge">
                     <button class="btn waves-effect waves-light z-depth-1" type="submit" name="action">Create New Challenge
                     </button>
                  </a>
                  </div>
               </div>
            </div>
            <div class="col s6">
               <div id="receivedContainer" class="cont">
                  <h5>Received Challenges</h5>
                  <div class="collection z-depth-2 Form" id="receivedBox">
                     {{#each accepted}} {{#if_eq dataValues.state 'challenge-issued'}}
                     <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-accepted'}}
                     <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-rejected'}}
                     {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'provided-proof'}} {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'proof-accepted'}} {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state
                     'proof-rejected'}} {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'archive-success'}} {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'archive-fail'}} {{> received_collapsible}} {{/if_eq}} {{/each}}
                  </div>

               </div>
            </div>
         </div>
   </main>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script>
      $(document).ready(function() {
         $('.collapsible').collapsible();
      });
   </script>
   {{!--
   <script type="text/javascript" src="js/materialize.min.js"></script>--}}
</body>
