<body>
   <nav>
      <div class="nav-wrapper z-depth-4">
         <button id="rules" data-target="rulesPage" class="waves-effect waves-light btn modal-trigger btn-floating">
            <i style="line-height: 42px" class="material-icons">help_outline</i>
         </button>
         <a href="/user/dashboard" class="brand-logo center" id="logo">Duello</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Welcome, {{dataValues.name}}</a>
            </li>
            <li> | </li>
            <li><a href="/">About</a></li>
            <li> | </li>
            <li><a id="logout" href="">Logout</a></li>
         </ul>
      </div>
   </nav>
   <main>

      <div class="row">
         <div class="col s12 l6">
            <div id="issuedContainer" class="cont">
               Challenges Issued
               <div>
                  <div class="collection z-depth-2 Form">
                     {{#each issued}} {{#if_eq dataValues.state 'provided-proof'}}
                     <a href="/user/revProof?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{else}} {{> issued_collapsible}} {{/if_eq}}{{/each}}
                  </div>
                  <a href="/user/createChallenge">
                     <button class="btn waves-effect waves-light z-depth-1" type="submit" name="action">Create New Challenge
                     </button>
                  </a>
               </div>
            </div>
         </div>
         <div class="col s12 l6">
            <div id="receivedContainer" class="cont">
               Received Challenges
               <div class="collection z-depth-2 Form" id="receivedBox">
                  {{#each accepted}} {{#if_eq dataValues.state 'challenge-issued'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-accepted'}}
                  <a href="/user/arChallenge?instance={{dataValues.challenge_id}}" class="collection-item"> {{dataValues.Template.dataValues.name}} <span class="right">{{dataValues.state}}</span></a> {{/if_eq}} {{#if_eq dataValues.state 'challenge-rejected'}}
                  {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'provided-proof'}} {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'proof-accepted'}} {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'proof-rejected'}}
                  {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'archive-success'}} {{> received_collapsible}} {{/if_eq}} {{#if_eq dataValues.state 'archive-fail'}} {{> received_collapsible}} {{/if_eq}} {{/each}}
               </div>
            </div>
         </div>
      </div>
      <!-- container for ABOUT -->
   </main>
   <!-- Modal Structure -->
   <div id="warning" class="modal modal-fixed-footer">
      <div class="modal-content">
         <h3 id="content" class="left-align">You must verified your email before using this feature</h3>
         <a id="email_verification" href="" class="left-align">
            <h5>Click me to verified</h5>
         </a>
      </div>
      <div class="modal-footer">
         <a id="exitModal" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
      </div>
   </div>

   <!-- How to Play Modal -->

   <div id="rulesPage" class="modal bottom-sheet">
      <div class="modal-content">
         <div class="cont">
            How to Play
            <div class="Form">
               <h5>Issue a challenge (any challenge) to your friends</h5>
               <p>In order to issue a challenge you have to first prove that you completed the challenge yourself. Once you send your friends the challenge they will have the option to accept the challenge or reject it. If accepted, they will have an opportunity
                  to view your proof video and submit one of their own. You will be the judge of their success or failure.</p>
               <h5>Issue a challenge!</h5>
               <p>from the dashboard, click on “CREATE NEW CHALLENGE” Complete all fields and be sure to include a link to your video proof that you have completed the challenge yourself.</p>
               <h5>Review your issued challenges</h5>
               <p>From the dashboard, locate in the left panel the challenge you would like to review and click on it. You can see the status of the challenge, to whom it was issued and the rules of the challenge. Once your friend has submitted proof, you
                  will be able to review the proof and decide if they passed or failed.</p>
               <h5>Review received challenges</h5>
               <p>From the dashboard, locate in the right panel the challenge you would like to review and click on it. You can see pertinent details of the challenge and when it is first issued, you can decide whether to accept or reject the challenge.</p>
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <a href="#!" id="exitModal" class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
      </div>
   </div>
   <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
   <script>

      $(document).ready(function() {
         $(".modal").modal();
         $("#rules").on("click", function() {
            console.log("rules modal button clicked");
            $("#rulesPage").modal("open");
         });
         $('.collapsible').collapsible();
         $("#warning").modal();
         const cookies = ";" + document.cookie,
            verified = cookies.match(/(\;verified\=\w+){1}/g),
            isVerified = !!verified ? verified[0].replace(/(\;verified\=)/, "") : true;
         if (isVerified == "false") {
            $("#warning").modal("open");
         }

         $("#email_verification").on("click", function(event) {
            event.preventDefault();

            $.post("/login/verification").then((response) => {
               console.log(response);
               $("#content").text("Verification sent!!");
               setTimeout(function() {
                  $("#warning").modal("close");
               }, 800);
            });
         });
      });
   </script>

   {{!--
   <script type="text/javascript" src="js/materialize.min.js"></script>--}}
</body>
